* {
    overflow: auto;
    box-sizing: border-box;
}

html,
body {
    background-color: white;
}

table {
    border: 1px solid red;
    display: inline-block;
    /* text-align: center; */
}

td:nth-child(even) {
    background: palevioletred;
}

main {
    background-color: white;
    margin: 5px auto;
    /*vertical-align: middle;*/
    /* text-align: center; */
}

h1 {
    color: white;
    background: darkred;
    font-family: Arial, Helvetica, sans-serif;
    /* text-align: center; */
    font-size: 2vw;
}

nav {
    color: white;
    background: darkred;
    font-family: Arial, Helvetica, sans-serif;
    line-height: inherit;
    margin: auto;
}

nav a {
    color: white;
    display: inline-block;
    margin: 0.5vw;
    font-size: 1.5vw;
    text-decoration: none;
}

nav a:hover {
    background: white;
    color: darkred;
}

li {
    list-style: none;
}

h2 {
    color: teal;
    font-family: Arial;
    /* text-align: center; */
    font-size: 1.5vw;
}

.product {
    width: 200px;
    height: 320px;
    overflow: auto;
    border: 1px solid black;
    text-align: center;
    display: inline-block;
    margin: 10px;
}

.product:hover {
    background-color: #c0c0c0;
}


/* product image */

.product img {
    width: 100%;
}

.product .name {
    font-size: 24px;
    margin: 0;
}

.product .description {
    margin: 0;
}

.product .price {
    font-size: 24px;
    color: red;
    font-weight: bold;
    margin: 0;
}